data/2024_monthly_earnings.csv
data/2024_monthly_earnings.xlsx
data/2024_monthly_spendings.csv
data/2024_monthly_spendings.xlsx
plots/2024/April_spendings.png
plots/2024/February_spendings.png
plots/2024/January_spendings.png
plots/2024/July_spendings.png
plots/2024/June_spendings.png
plots/2024/March_spendings.png
plots/2024/May_spendings.png
stats/2024.csv
plots/2024/2024_April_spendings.png
plots/2024/2024_February_spendings.png
plots/2024/2024_January_spendings.png
plots/2024/2024_July_spendings.png
plots/2024/2024_June_spendings.png
plots/2024/2024_March_spendings.png
plots/2024/2024_May_spendings.png
plots/2024/2024_sports_stats.png
stats/2024/2024_monthly_stats.csv
stats/2024/2024_sports_monthly_stats.csv
stats/2024/2024_sports_yearly_stats.csv
