data/2024_monthly_earnings.csv
data/2024_monthly_earnings.xlsx
data/2024_monthly_spendings.csv
data/2024_monthly_spendings.xlsx
plots/2024/April_spendings.png
plots/2024/February_spendings.png
plots/2024/January_spendings.png
plots/2024/July_spendings.png
plots/2024/June_spendings.png
plots/2024/March_spendings.png
plots/2024/May_spendings.png
stats/2024.csv
plots/2024/2024_April_spendings.png
plots/2024/2024_February_spendings.png
plots/2024/2024_January_spendings.png
plots/2024/2024_July_spendings.png
plots/2024/2024_June_spendings.png
plots/2024/2024_March_spendings.png
plots/2024/2024_May_spendings.png
plots/2024/2024_sports_stats.png
stats/2024/2024_monthly_stats.csv
stats/2024/2024_sports_monthly_stats.csv
stats/2024/2024_sports_yearly_stats.csv
plots/2024/2024_Accomodation_monthly_spendings.png
plots/2024/2024_Course_monthly_spendings.png
plots/2024/2024_Donation_monthly_spendings.png
plots/2024/2024_Donations_monthly_spendings.png
plots/2024/2024_Flights_monthly_spendings.png
plots/2024/2024_Food_monthly_spendings.png
plots/2024/2024_Fuel_monthly_spendings.png
plots/2024/2024_Gozo ferry_monthly_spendings.png
plots/2024/2024_Home supplies_monthly_spendings.png
plots/2024/2024_Outing_monthly_spendings.png
plots/2024/2024_Outings_monthly_spendings.png
plots/2024/2024_Present_monthly_spendings.png
plots/2024/2024_Presents_monthly_spendings.png
plots/2024/2024_Products_monthly_spendings.png
plots/2024/2024_Services_monthly_spendings.png
plots/2024/2024_Sports_monthly_spendings.png
plots/2024/2024_Stream_monthly_spendings.png
stats/2024/2024_Accomodation_monthly_spendings.csv
stats/2024/2024_Course_monthly_spendings.csv
stats/2024/2024_Donation_monthly_spendings.csv
stats/2024/2024_Donations_monthly_spendings.csv
stats/2024/2024_Flights_monthly_spendings.csv
stats/2024/2024_Food_monthly_spendings.csv
stats/2024/2024_Fuel_monthly_spendings.csv
stats/2024/2024_Gozo ferry_monthly_spendings.csv
stats/2024/2024_Home supplies_monthly_spendings.csv
stats/2024/2024_Outing_monthly_spendings.csv
stats/2024/2024_Outings_monthly_spendings.csv
stats/2024/2024_Present_monthly_spendings.csv
stats/2024/2024_Presents_monthly_spendings.csv
stats/2024/2024_Products_monthly_spendings.csv
stats/2024/2024_Services_monthly_spendings.csv
stats/2024/2024_Sports_monthly_spendings.csv
stats/2024/2024_Stream_monthly_spendings.csv
plots/2024/events/2024_Accomodation_monthly_spendings.png
plots/2024/events/2024_Course_monthly_spendings.png
plots/2024/events/2024_Donations_monthly_spendings.png
plots/2024/events/2024_Flights_monthly_spendings.png
plots/2024/events/2024_Food_monthly_spendings.png
plots/2024/events/2024_Fuel_monthly_spendings.png
plots/2024/events/2024_Gozo ferry_monthly_spendings.png
plots/2024/events/2024_Home supplies_monthly_spendings.png
plots/2024/events/2024_Outings_monthly_spendings.png
plots/2024/events/2024_Presents_monthly_spendings.png
plots/2024/events/2024_Products_monthly_spendings.png
plots/2024/events/2024_Services_monthly_spendings.png
plots/2024/events/2024_Sports_monthly_spendings.png
plots/2024/events/2024_Stream_monthly_spendings.png
plots/2024/month/2024_April_spendings.png
plots/2024/month/2024_February_spendings.png
plots/2024/month/2024_January_spendings.png
plots/2024/month/2024_July_spendings.png
plots/2024/month/2024_June_spendings.png
plots/2024/month/2024_March_spendings.png
plots/2024/month/2024_May_spendings.png
plots/2024/sports/2024_sports_stats.png
plots/2024/year/2024_event_spendings.png
plots/2024/year/2024_monthly_average_event_spendings.png
stats/2024/events/2024_Accomodation_monthly_spendings.csv
stats/2024/events/2024_Course_monthly_spendings.csv
stats/2024/events/2024_Donations_monthly_spendings.csv
stats/2024/events/2024_Flights_monthly_spendings.csv
stats/2024/events/2024_Food_monthly_spendings.csv
stats/2024/events/2024_Fuel_monthly_spendings.csv
stats/2024/events/2024_Gozo ferry_monthly_spendings.csv
stats/2024/events/2024_Home supplies_monthly_spendings.csv
stats/2024/events/2024_Outings_monthly_spendings.csv
stats/2024/events/2024_Presents_monthly_spendings.csv
stats/2024/events/2024_Products_monthly_spendings.csv
stats/2024/events/2024_Services_monthly_spendings.csv
stats/2024/events/2024_Sports_monthly_spendings.csv
stats/2024/events/2024_Stream_monthly_spendings.csv
stats/2024/month/2024_monthly_stats.csv
stats/2024/sports/2024_sports_monthly_stats.csv
stats/2024/sports/2024_sports_yearly_stats.csv
stats/2024/year/2024_yearly_spendings.csv
