data/2024_monthly_earnings.csv
data/2024_monthly_earnings.xlsx
data/2024_monthly_spendings.csv
data/2024_monthly_spendings.xlsx
plots/2024/April_spendings.png
plots/2024/February_spendings.png
plots/2024/January_spendings.png
plots/2024/July_spendings.png
plots/2024/June_spendings.png
plots/2024/March_spendings.png
plots/2024/May_spendings.png
stats/2024.csv
plots/2024/2024_April_spendings.png
plots/2024/2024_February_spendings.png
plots/2024/2024_January_spendings.png
plots/2024/2024_July_spendings.png
plots/2024/2024_June_spendings.png
plots/2024/2024_March_spendings.png
plots/2024/2024_May_spendings.png
plots/2024/2024_sports_stats.png
stats/2024/2024_monthly_stats.csv
stats/2024/2024_sports_monthly_stats.csv
stats/2024/2024_sports_yearly_stats.csv
plots/2024/2024_Accomodation_monthly_spendings.png
plots/2024/2024_Course_monthly_spendings.png
plots/2024/2024_Donation_monthly_spendings.png
plots/2024/2024_Donations_monthly_spendings.png
plots/2024/2024_Flights_monthly_spendings.png
plots/2024/2024_Food_monthly_spendings.png
plots/2024/2024_Fuel_monthly_spendings.png
plots/2024/2024_Gozo ferry_monthly_spendings.png
plots/2024/2024_Home supplies_monthly_spendings.png
plots/2024/2024_Outing_monthly_spendings.png
plots/2024/2024_Outings_monthly_spendings.png
plots/2024/2024_Present_monthly_spendings.png
plots/2024/2024_Presents_monthly_spendings.png
plots/2024/2024_Products_monthly_spendings.png
plots/2024/2024_Services_monthly_spendings.png
plots/2024/2024_Sports_monthly_spendings.png
plots/2024/2024_Stream_monthly_spendings.png
stats/2024/2024_Accomodation_monthly_spendings.csv
stats/2024/2024_Course_monthly_spendings.csv
stats/2024/2024_Donation_monthly_spendings.csv
stats/2024/2024_Donations_monthly_spendings.csv
stats/2024/2024_Flights_monthly_spendings.csv
stats/2024/2024_Food_monthly_spendings.csv
stats/2024/2024_Fuel_monthly_spendings.csv
stats/2024/2024_Gozo ferry_monthly_spendings.csv
stats/2024/2024_Home supplies_monthly_spendings.csv
stats/2024/2024_Outing_monthly_spendings.csv
stats/2024/2024_Outings_monthly_spendings.csv
stats/2024/2024_Present_monthly_spendings.csv
stats/2024/2024_Presents_monthly_spendings.csv
stats/2024/2024_Products_monthly_spendings.csv
stats/2024/2024_Services_monthly_spendings.csv
stats/2024/2024_Sports_monthly_spendings.csv
stats/2024/2024_Stream_monthly_spendings.csv
plots/2024/events/2024_Accomodation_monthly_spendings.png
plots/2024/events/2024_Course_monthly_spendings.png
plots/2024/events/2024_Donations_monthly_spendings.png
plots/2024/events/2024_Flights_monthly_spendings.png
plots/2024/events/2024_Food_monthly_spendings.png
plots/2024/events/2024_Fuel_monthly_spendings.png
plots/2024/events/2024_Gozo ferry_monthly_spendings.png
plots/2024/events/2024_Home supplies_monthly_spendings.png
plots/2024/events/2024_Outings_monthly_spendings.png
plots/2024/events/2024_Presents_monthly_spendings.png
plots/2024/events/2024_Products_monthly_spendings.png
plots/2024/events/2024_Services_monthly_spendings.png
plots/2024/events/2024_Sports_monthly_spendings.png
plots/2024/events/2024_Stream_monthly_spendings.png
plots/2024/month/2024_April_spendings.png
plots/2024/month/2024_February_spendings.png
plots/2024/month/2024_January_spendings.png
plots/2024/month/2024_July_spendings.png
plots/2024/month/2024_June_spendings.png
plots/2024/month/2024_March_spendings.png
plots/2024/month/2024_May_spendings.png
plots/2024/sports/2024_sports_stats.png
plots/2024/year/2024_event_spendings.png
plots/2024/year/2024_monthly_average_event_spendings.png
stats/2024/events/2024_Accomodation_monthly_spendings.csv
stats/2024/events/2024_Course_monthly_spendings.csv
stats/2024/events/2024_Donations_monthly_spendings.csv
stats/2024/events/2024_Flights_monthly_spendings.csv
stats/2024/events/2024_Food_monthly_spendings.csv
stats/2024/events/2024_Fuel_monthly_spendings.csv
stats/2024/events/2024_Gozo ferry_monthly_spendings.csv
stats/2024/events/2024_Home supplies_monthly_spendings.csv
stats/2024/events/2024_Outings_monthly_spendings.csv
stats/2024/events/2024_Presents_monthly_spendings.csv
stats/2024/events/2024_Products_monthly_spendings.csv
stats/2024/events/2024_Services_monthly_spendings.csv
stats/2024/events/2024_Sports_monthly_spendings.csv
stats/2024/events/2024_Stream_monthly_spendings.csv
stats/2024/month/2024_monthly_stats.csv
stats/2024/sports/2024_sports_monthly_stats.csv
stats/2024/sports/2024_sports_yearly_stats.csv
stats/2024/year/2024_yearly_spendings.csv
plots/2024/events/2024_Camera_internet_monthly_spendings.png
plots/2024/events/2024_Google_drive_monthly_spendings.png
plots/2024/events/2024_iCloud_monthly_spendings.png
plots/2024/events/2024_IPTV_monthly_spendings.png
plots/2024/events/2024_iSocket_monthly_spendings.png
plots/2024/events/2024_IvaLife_monthly_spendings.png
plots/2024/events/2024_Liam_savings_monthly_spendings.png
plots/2024/events/2024_Mapfre_savings_monthly_spendings.png
plots/2024/events/2024_Melita_home_monthly_spendings.png
plots/2024/events/2024_Melita_phone_monthly_spendings.png
plots/2024/events/2024_Netflix_monthly_spendings.png
plots/2024/events/2024_Skypass_monthly_spendings.png
plots/2024/events/2024_Spotify_monthly_spendings.png
plots/2024/month/2024_monthly_e_s_s.png
stats/2024/events/2024_Camera_internet_monthly_spendings.csv
stats/2024/events/2024_Google_drive_monthly_spendings.csv
stats/2024/events/2024_iCloud_monthly_spendings.csv
stats/2024/events/2024_IPTV_monthly_spendings.csv
stats/2024/events/2024_iSocket_monthly_spendings.csv
stats/2024/events/2024_IvaLife_monthly_spendings.csv
stats/2024/events/2024_Liam_savings_monthly_spendings.csv
stats/2024/events/2024_Mapfre_savings_monthly_spendings.csv
stats/2024/events/2024_Melita_home_monthly_spendings.csv
stats/2024/events/2024_Melita_phone_monthly_spendings.csv
stats/2024/events/2024_Netflix_monthly_spendings.csv
stats/2024/events/2024_Skypass_monthly_spendings.csv
stats/2024/events/2024_Spotify_monthly_spendings.csv
stats/2024/month/2024_monthly_earnings.csv
stats/2024/month/2024_monthly_savings.csv
stats/2024/month/2024_monthly_spendings.csv
plots/2024/events/2024_Arms Bills_monthly_spendings.png
plots/2024/events/2024_Arms_bills_monthly_spendings.png
plots/2024/events/2024_Car_hire_monthly_spendings.png
plots/2024/events/2024_Event_monthly_spendings.png
plots/2024/events/2024_Liam savings_monthly_spendings.png
plots/2024/events/2024_MSV_max_protect_monthly_spendings.png
plots/2024/events/2024_Vacation_scotland_spending_money_monthly_spendings.png
plots/2024/month/2024_August_spendings.png
plots/2024/month/2024_September_spendings.png
stats/2024/events/2024_Arms Bills_monthly_spendings.csv
stats/2024/events/2024_Arms_bills_monthly_spendings.csv
stats/2024/events/2024_Car_hire_monthly_spendings.csv
stats/2024/events/2024_Event_monthly_spendings.csv
stats/2024/events/2024_Liam savings_monthly_spendings.csv
stats/2024/events/2024_MSV_max_protect_monthly_spendings.csv
stats/2024/events/2024_Vacation_scotland_spending_money_monthly_spendings.csv
data/2025_monthly_earnings.csv
data/2025_monthly_spendings.csv
plots/2024/events/2024_Events_monthly_spendings.png
plots/2024/events/2024_Gifts_monthly_spendings.png
plots/2024/events/2024_Home products_monthly_spendings.png
plots/2024/events/2024_Home_products_monthly_spendings.png
plots/2024/events/2024_Home_supplies_monthly_spendings.png
plots/2024/events/2024_Outing_monthly_spendings.png
plots/2024/events/2024_Product_monthly_spendings.png
plots/2024/events/2024_Sport_monthly_spendings.png
plots/2024/events/2024_Vacation_accommodation_monthly_spendings.png
plots/2024/events/2024_Vacation_Budapest_spending_money_monthly_spendings.png
plots/2024/events/2024_Vacation_london_spending_money_monthly_spendings.png
plots/2024/events/2024_Vacation_monthly_spendings.png
plots/2024/month/2024_December_spendings.png
plots/2024/month/2024_November_spendings.png
plots/2024/month/2024_October_spendings.png
stats/2024/events/2024_Events_monthly_spendings.csv
stats/2024/events/2024_Gifts_monthly_spendings.csv
stats/2024/events/2024_Home products_monthly_spendings.csv
stats/2024/events/2024_Home_products_monthly_spendings.csv
stats/2024/events/2024_Home_supplies_monthly_spendings.csv
stats/2024/events/2024_Outing_monthly_spendings.csv
stats/2024/events/2024_Product_monthly_spendings.csv
stats/2024/events/2024_Sport_monthly_spendings.csv
stats/2024/events/2024_Vacation_accommodation_monthly_spendings.csv
stats/2024/events/2024_Vacation_Budapest_spending_money_monthly_spendings.csv
stats/2024/events/2024_Vacation_london_spending_money_monthly_spendings.csv
stats/2024/events/2024_Vacation_monthly_spendings.csv
plots/2025/events/2025_Camera_internet_monthly_spendings.png
plots/2025/events/2025_Events_monthly_spendings.png
plots/2025/events/2025_Fines_monthly_spendings.png
plots/2025/events/2025_Food_monthly_spendings.png
plots/2025/events/2025_Fuel_monthly_spendings.png
plots/2025/events/2025_Gifts_monthly_spendings.png
plots/2025/events/2025_Google_drive_monthly_spendings.png
plots/2025/events/2025_Home_supplies_monthly_spendings.png
plots/2025/events/2025_iCloud_monthly_spendings.png
plots/2025/events/2025_IPTV_monthly_spendings.png
plots/2025/events/2025_iSocket_monthly_spendings.png
plots/2025/events/2025_IvaLife_monthly_spendings.png
plots/2025/events/2025_Liam savings_monthly_spendings.png
plots/2025/events/2025_Mapfre_Savings_monthly_spendings.png
plots/2025/events/2025_Medicine_monthly_spendings.png
plots/2025/events/2025_Melita_home_monthly_spendings.png
plots/2025/events/2025_Melita_phone_monthly_spendings.png
plots/2025/events/2025_MSV_max_protect_monthly_spendings.png
plots/2025/events/2025_Netflix_monthly_spendings.png
plots/2025/events/2025_Products_monthly_spendings.png
plots/2025/events/2025_Proucts_monthly_spendings.png
plots/2025/events/2025_Services_monthly_spendings.png
plots/2025/events/2025_Skypass_monthly_spendings.png
plots/2025/events/2025_Spotify_monthly_spendings.png
plots/2025/events/2025_Vacation_accommodation_monthly_spendings.png
plots/2025/events/2025_Vacation_spending_money_monthly_spendings.png
plots/2025/month/2025_January_spendings.png
plots/2025/month/2025_monthly_e_s_s.png
plots/2025/year/2025_event_spendings.png
plots/2025/year/2025_monthly_average_event_spendings.png
stats/2025/events/2025_Camera_internet_monthly_spendings.csv
stats/2025/events/2025_Events_monthly_spendings.csv
stats/2025/events/2025_Fines_monthly_spendings.csv
stats/2025/events/2025_Food_monthly_spendings.csv
stats/2025/events/2025_Fuel_monthly_spendings.csv
stats/2025/events/2025_Gifts_monthly_spendings.csv
stats/2025/events/2025_Google_drive_monthly_spendings.csv
stats/2025/events/2025_Home_supplies_monthly_spendings.csv
stats/2025/events/2025_iCloud_monthly_spendings.csv
stats/2025/events/2025_IPTV_monthly_spendings.csv
stats/2025/events/2025_iSocket_monthly_spendings.csv
stats/2025/events/2025_IvaLife_monthly_spendings.csv
stats/2025/events/2025_Liam savings_monthly_spendings.csv
stats/2025/events/2025_Mapfre_Savings_monthly_spendings.csv
stats/2025/events/2025_Medicine_monthly_spendings.csv
stats/2025/events/2025_Melita_home_monthly_spendings.csv
stats/2025/events/2025_Melita_phone_monthly_spendings.csv
stats/2025/events/2025_MSV_max_protect_monthly_spendings.csv
stats/2025/events/2025_Netflix_monthly_spendings.csv
stats/2025/events/2025_Products_monthly_spendings.csv
stats/2025/events/2025_Proucts_monthly_spendings.csv
stats/2025/events/2025_Services_monthly_spendings.csv
stats/2025/events/2025_Skypass_monthly_spendings.csv
stats/2025/events/2025_Spotify_monthly_spendings.csv
stats/2025/events/2025_Vacation_accommodation_monthly_spendings.csv
stats/2025/events/2025_Vacation_spending_money_monthly_spendings.csv
stats/2025/month/2025_monthly_earnings.csv
stats/2025/month/2025_monthly_savings.csv
stats/2025/month/2025_monthly_spendings.csv
stats/2025/month/2025_monthly_stats.csv
stats/2025/year/2025_yearly_spendings.csv
plots/2025/events/2025_Birthday_gifts_monthly_spendings.png
plots/2025/events/2025_Car_Mazda_Insurance_monthly_spendings.png
plots/2025/events/2025_Donations_monthly_spendings.png
plots/2025/events/2025_Hair_products_monthly_spendings.png
plots/2025/events/2025_Home_supples_monthly_spendings.png
plots/2025/month/2025_February_spendings.png
stats/2025/events/2025_Birthday_gifts_monthly_spendings.csv
stats/2025/events/2025_Car_Mazda_Insurance_monthly_spendings.csv
stats/2025/events/2025_Donations_monthly_spendings.csv
stats/2025/events/2025_Hair_products_monthly_spendings.csv
stats/2025/events/2025_Home_supples_monthly_spendings.csv
plots/2024/events/2024_Mapfre_Liam_savings_monthly_spendings.png
plots/2025/events/2025_Mapfre_Liam_savings_monthly_spendings.png
stats/2024/events/2024_Mapfre_Liam_savings_monthly_spendings.csv
stats/2025/events/2025_Mapfre_Liam_savings_monthly_spendings.csv
plots/2025/events/2025_Arms_bills_monthly_spendings.png
stats/2025/events/2025_Arms_bills_monthly_spendings.csv
plots/2025/events/2025_Car_Mazda_License_monthly_spendings.png
plots/2025/events/2025_Sports_monthly_spendings.png
plots/2025/month/2025_March_spendings.png
plots/2025/sports/2025_sports_stats.png
stats/2025/events/2025_Car_Mazda_License_monthly_spendings.csv
stats/2025/events/2025_Sports_monthly_spendings.csv
stats/2025/sports/2025_sports_monthly_stats.csv
stats/2025/sports/2025_sports_yearly_stats.csv
stats/2024/summary/2024_summary.csv
stats/2025/summary/2025_summary.csv
